# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/tmp
/public/media/portfolio/page-01-image-01.png
/public/media/portfolio/page-01-image-02.jpg
/public/media/portfolio/page-01-image-03.png
/public/media/portfolio/page-02-image-01.png
/public/media/portfolio/page-02-image-02.png
/public/media/portfolio/page-03-image-01.png
/public/media/portfolio/page-04-image-01.png
/public/media/portfolio/page-04-image-04.png
/public/media/portfolio/page-04-image-08.png
/public/media/portfolio/page-05-image-01.png
/public/media/portfolio/page-05-image-03.png

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
